body {
    font-family: sans-serif;
    background-color: #333;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.text-info {
    margin: 0em 0.5em;
    padding: 0;
    font-size: larger;
}

.video {
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 66vh;
    margin: 2.5em 1em;
    padding: 0em;
    border: 2px solid white;
    border-radius: 0.5em;
}

.button {
    margin: 0em 0.5em;
    padding: 1em;
    border: 2px solid white;
    border-radius: 0.5em;
    background: #007bff;
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: #0056b3;
}