body {
    font-family: sans-serif;
    background-color: #333;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.text-info {
    margin: 0em 0.5em;
    margin-top: 0.5em;
    padding: 0;
    font-size: larger;
}

.status-info {
    margin: 1.25em 0.5em;
    padding: 0.5em;
    font-size: large;
}

.video {
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 66vh;
    margin: 2.5em 1em;
    padding: 0em;
    border: 2px solid white;
    border-radius: 0.5em;
}

.border-glow {
    border: 4px solid yellow;
    transition: border 0.125s;
}

.button {
    margin: 0em 0.5em;
    padding: 1em;
    border: 2px solid white;
    border-radius: 0.5em;
    background: #007bff;
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    filter: brightness(80%);
}

.toast {
    width: auto;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px);
    background: #222;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    opacity: 0;
    animation: slideUpFade 0.3s ease-out forwards;
    z-index: 9999;
}

.settings-bar {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.icon {
    color: white;
    transition: color 0.25s;
}

.icon:hover {
    color: #5aabff;
    cursor: pointer;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@keyframes slideUpFade {
    to {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
}